.products {
    width: 100%;
    height: 100%;
    background: #397c5d;
    /*border-top: 2px dashed gray;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 80px;
}

.card {
    width: 300px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
}

.containImg {
    border: 1px solid #555;
    width: 100%;
    height: 60%;
}

.imgCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nameProduct {
    height: 70px;
    color: #fff;
    background: #3A55A5;
    text-align: center;
    font-size: 12px;
    background-color: rgb(241, 174, 50);
}

.card div {
    width: 100%;
    height: 35%;
    background: #2f468a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price {
    font-size: 2rem;
    color: #fff;
}

.buy {
    width: 50%;
    height: 50px;
    font-size: 25px;
    background: orange;
    color: #fff;
    cursor: pointer;
}

.buy:hover {
    background: #293d79;
}