.modal-container {
  position: relative;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/*.card{
    display: inline-block;
    width: 20%;
    margin: 5%;
    border: solid gray;
    padding: 10px;
} */

.modal-image {
  max-width: 100%;
}